
.footer {
  background-color: #DC5F00;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  flex: 1;
  margin: 10px;
  min-width: 250px;
}

.footer-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}


.footer-content p {
  font-size: 14px;
  margin: 5px 0;
}


.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  margin: 5px 0;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-content ul li a:hover {
  color: #373A40;
}


.footer-content label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-content input[type="text"] {
  width: calc(100% - 22px); 
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.footer-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f39c12;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-content button:hover {
  background-color: #373A40;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    margin: 20px 0;
    text-align: left;
  }
}

