.footer {
  display: flex;
  align-items: center;
  place-content: center;

  padding: 20px;
  background-color: #dc5f00;
}

.footer-container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}

.footer-content {
  width: 100px;
  margin: auto;
  padding: 7px;
}

.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
}

.list {
  padding: 0;
}

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
  text-decoration: none;
}

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  transition-duration: 0.5s;
}

.list li :hover::before {
  width: 70px;
}

.a {
  text-decoration: none;
}

.end {
  display: grid;
  place-content: center;
}

@media screen and (max-width: 670px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  /* .footer-content{

    flex-direction: column;
    }
    .list li{
      padding: 10px;
      }
      .list li::before{
        display: none;
        } */
}
